name: Spring Boot & Gradle CI/CD 

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "*" ]

env:
  DB_HOST : ${{secrets.DB_HOST}}
  DB_NAME : ${{secrets.DB_NAME}}
  DB_PASSWORD : ${{secrets.DB_PASSWORD}}
  DB_PORT : ${{secrets.DB_PORT}}
  DB_USER : ${{secrets.DB_USER}}
  
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle
      
      - name: Set up JDK 11 job has success
        if: ${{ success() }}
        run: echo "jdk 11 job succeeded"
      
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      
      - name : Setup Gradls's permission
        run : chmod +x gradlew 
      
      - name: Build with Gradle
        run : ./gradlew clean build --exclude-task test
            
      - name: IA Backend CI Discord Notification
        uses: sarisia/actions-status-discord@v1
        if: ${{ success() }}
        with:
          title: ✅ Idea Archieve Backend CI success ✅
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          color: 00FF00

      - name: IA Backend CI Discord Notification
        uses: sarisia/actions-status-discord@v1
        if: ${{ failure() }}
        with:
          title: ❗️ Idea Archieve Backend CI failed ❗️
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          color: FF0000
